body {
	margin: 0;
	padding: 0;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	margin-top: -100px;
	padding-bottom:100px; 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
	font-weight: bold;
	cursor:pointer;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}

input[type=submit]:disabled
{
	opacity:0.5;
	cursor: default !important;
}

@media only screen and (min-width: 800px) {
	.row {
		row-gap: 2rem;
		display: grid;
		grid-template-columns: auto auto auto auto;
		justify-content: space-evenly;
		width: 90vw;
		padding: 0;
		margin: 0;
	}
	.item {
		margin: auto;
	}
}
.Logo {
	grid-column: span 4;
	width: 20rem;
	margin: auto;
}
#Tnider {
	width: 100vw;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: blue;
	border-radius: 50%;
	cursor: pointer;
}
input {
	height: 21px;
}
.slider {
	margin-top: 15px;
	-webkit-appearance: none;
	width: 100%;
	background: #d3d3d3;
	outline: none;
	height: 10px;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.row2{
	display:grid;
	grid-template-columns: 20px auto 20px auto;
}

@media only screen and (max-width: 800px) {
	.row {
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 100%;
	}
	input[type='text'] {
		width: 80%;
		margin: auto;
	}
	.crayon {
		margin-top: 0;
		width: 50%;
		margin: auto;
	}
	.item {
		display: block;
	}
	.item:nth-child(2n + 1) {
		text-align: center;
		margin-top: 2rem;
		margin-bottom: 0.5rem;
	}
}
